/* Space out content a bit */
body {
  padding-top: 20px;
  padding-bottom: 20px;
/*  background: url(../images/mobile_landing.png);*/
/*  background-size: fill;*/
/*  color: #000;*/
}

.nav li {
  display: inline-block;
}

ul.nav-stats li {
  list-style-type: none;
}
table {
  font-size: 1.3em;
}
table li {
  list-style-type: none;
}
h3.lead {
  font-size: 1.3em;
}
.join {
  margin: 2em;
}


.slogan {
  font-variant : small-caps;
  font-size : .8em;
  margin-left: 1em;
}

/* steppr about on landing page */
#about p {
  margin-bottom: 1.5em;
}

/* text to show if user is on desktop & not mobile */
#desktopText {
  display: none;
}


#loginButton button, #desktopText p {
  margin-left: 2em;
  margin-top: 2.75em;
}





/* Customize container */
@media (min-width: 768px) {
  .container {
    max-width: 730px;
  }
}
.
/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  /* Remove the padding we set earlier */
  .header,
  .marketing,
  .footer {
    padding-left: 0;
    padding-right: 0;
  }
  /* Space out the masthead */
  .header {
    margin-bottom: 30px;
  }
  /* Remove the bottom border on the jumbotron for visual effect */
  .jumbotron {
    border-bottom: 0;
  }
}
#loginButton {
  position: relative;
  margin-top: 1em;
  left: 50%;
}
i.glyphicon-log-in {
  font-size: 4em;
}
.btn-square.btn-xl {
  width: 3em;
  padding: 10px 16px;
  font-size: 24px;
  line-height: 1.33;
  border-radius: 60%;
}
