extends layout

block content
  form(action='/groups/create', method='POST')
    input(type='text', name='groupName', placeholder='Group Name')
    button(type='submit', class='btn btn-sm btn-primary') Create
