extends layout

block content
  p You've logged
    i  #{totalUserSteps}
    |  steps today. You own
    b  #{userPercentage}%
    |  of the
    i  #{totalStepsToday}
    |  total steps today
  br
  br
  br
  br
  p #{usersToday} Users today
  h1 Steppr on!
  br
  br
  br
  br
  p if refresh
    a(href='/moves')  click
