extends layout

block content
  img(id='rect', src='../images/gray_rect.png')
  img(class='center' src='../images/steppr_logo.png')
  div#name
    h1 Steppr
    h4.alert(style='text-align: center;') #{totalStepprSteps} steps taken on Steppr
  p#totalStepsToday.alert  #{usersToday} people have taken   #{totalStepsToday} steps today
  div#take_your_first
    a(href='/moves') Take your first
      i(class='fa fa-arrow-right')
