<html>
  <title>{{name}}</title>
  <body>
    <h1>{{name}}</h1>
    <i>
      <h2>{{message}}</h2>
    </i>
    <hr />
    <footer>
      <small>Rendered by Handlebars</small>
    <footer>
  </body>
<html>
