doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/bootstrap.css')
    link(rel='stylesheet', href='//cdnjs.cloudflare.com/ajax/libs/font-awesome/4.0.1/css/font-awesome.min.css')
    link(rel='stylesheet', href='/stylesheets/mobile.css')
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
  body
    a(href='/home').nav   Home
    a(href='/groups').nav   Groups
    a(href='/user/register').nav   Settings  
    block content
