extends layout

block content
  h1= title
  form(action='/user/register', method='POST')
    input(type='email', name='email', placeholder='Your email')
    input(type='text', name='firstname', placeholder='Your first name')
    input(type='number', placeholder='Zipcode', name='zipcode')
    button(type='submit', class='btn btn-success') Submit
