<div ng-controller='DashboardCtrl' ng-if='user.username'>
  <table class='table'>
    <h3 class='lead'> Welcome, {{user.username}}</h3>
    <tr>
      <td>
        Total steps
      </td>
      <td>
        {{user.steps.total}}
      </td>
    </tr>
    <tr>
      <td>
        Today
      </td>
      <td>
        {{user.steps.today}}
      </td>
    </tr>
    <tr>
      <td>
        Groups
      </td>
      <td>
        <li ng-repeat='group in user.groups'>
          <a ng-href='#/groups/{{group}}'>{{group}}</a>
        </li>
      </td>
    </tr>
    <tr>
      <td>
        Badges
      </td>
      <td>
        <li ng-repeat='badge in user.badges'>
          {{badge}}
        </li>
      </td>
    </tr>
  </table>
</div>
