<div ng-controller='GroupCtrl'>
  <table class='table'>
    <h3 class='lead'> {{group.name}} <span class='pull-right'><a ng-href='/api/v0/groups/join/{{group.name}}'>Join {{group.name}}</a></span></h3>
    <tr>
      <td>
        Today
      </td>
      <td>
        Total
      </td>
      <td>
        Members
      </td>
    </tr>
    <tr>
    <td>
      {{group.stepsToday}}
    </td>
    <td>
      {{group.stepsTotal}}
    </li>
    </td>
      <td>
        <li ng-repeat='member in group.members'>
          <a ng-href='#/users/{{member.username}}'>{{member.username}}</a>
      </td>
  </tr>
  </table>
  <footer>
    <div class="navbar navbar-inverse navbar-fixed-bottom">
      <div class="container">
        <ul class="nav navbar-nav">
            <li><a href="#/home">Home</a></li>
            <li class='active'><a href="#/groups">Groups</a></li>
            <li><a href="#/users">Users</a></li>
            <li><a href="#/settings">Settings</a></li>
        </ul>
      </div>
    </div>
  </footer>
</div>
