<nav class="navbar navbar-default" role="navigation">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#/home">Steppr</a>
    </div>

    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li><a href="#/home">Home</a></li>
        <li><a href="#/groups">Groups</a></li>
        <li><a href="/logout">Logout</a></li>
      </ul>
    </div>
  </div>
</nav>
<div ng-controller='GroupCtrl'>
  <table class='table'>
    <h3 class='lead'> {{group.name}} <span class='pull-right'><a ng-href='/api/v0/groups/join/{{group.name}}'>Join {{group.name}}</a></span></h3>
    <tr>
      <td>
        Today
      </td>
      <td>
        Total
      </td>
      <td>
        Members
      </td>
    </tr>
    <tr>
    <td>
      {{group.stepsToday}}
    </td>
    <td>
      {{group.stepsTotal}}
    </li>
    </td>
      <td>
        <li ng-repeat='member in group.members'>
          <a ng-href='#/users/{{member.username}}'>{{member.username}}</a>
      </td>
  </tr>
  </table>
</div>
