<div ng-controller='GroupsCtrl'>
  <table class='table'>
    <h3 class='lead'> Groups <span class='pull-right'><a ng-href='#/groups/create'>Create group</a></span></h3>
    <tr>
      <td>
        Name
      </td>
      <td>
        Steps today
      </td>
      <td>
        Steps total
      </td>
    </tr>
    <tr ng-repeat='group in groups'>
      <td>
          <a ng-href='#/groups/{{group.name}}'>{{group.name}}</a>
    </td>
    <td>
      {{group.stepsToday}}
    </td>
    <td>
      {{group.stepsTotal}}
    </li>
    </td>
  </tr>
  </table>
  <footer>
    <div class="navbar navbar-inverse navbar-fixed-bottom">
      <div class="container">
        <ul class="nav navbar-nav">
            <li><a href="#/home">Home</a></li>
            <li class='active'><a href="#/groups">Groups</a></li>
            <li><a href="#/users">Users</a></li>
            <li><a href="#/settings">Settings</a></li>
        </ul>
      </div>
    </div>
  </footer>
</div>
