<h3 class="text-muted">Steppr</h3>
<div ng-controller='LandingCtrl'>
  <br />
</div>
<div class='col-md-12 col-sm-12 col-xs-12'>
    <div class='leaderboard'>
      <table class='table'>
        <tr class='success'>
          <td>
            Total steps:
          </td>
          <td>
            {{stats.stepsTotal}}
          </td>
        </tr>
        <tr class='info'>
          <td>
            Total steps today:
          </td>
          <td>
            {{stats.stepsToday}}
          </td>
        </tr>
        <tr class='success'>
          <td>
            Users today:
          </td>
          <td>
            {{stats.usersToday}}
          </td>
        </tr>
      </table>
    </div>
    <div class='col-md-4 col-md-offset-8 col-xs-5 col-xs-offset-7 text-muted'>
      <a ng-href='/moves'>Join the fun</a>
    </div>
</div>
