<h3 class="title">
  Steppr.
  <span class='slogan'>the social pedometer </span>
</h3>
<div ng-controller='LandingCtrl'>
  <div class='col-md-12 col-sm-12 col-xs-12 leaderboard'>
    <table class='table'>
      <h3 class='lead'> Stats </h3>
      <tr>
        <td>Total steps: </td>
        <td>{{stats.stepsTotal}}</td>
      </tr>
      <tr>
        <td>Total steps today:</td>
        <td>{{stats.stepsToday}}</td>
      </tr>
      <tr>
        <td> Users today:</td>
        <td>{{stats.usersToday}}</td>
      </tr>
    </table>
    <hr>
  </div>
    <div class='col-md-7 col-xs-12 col-sm-12'>
      <div id='about'>
        <h3 class='lead'> What is Steppr? </h3>
        <p class='text-muted'>
          In hopes of bringing social interaction between you and your friends, and the charitable organizations you love
          and support, Steppr will let users challenge their friends, and "donate" their steps to a charity of their choosing.
        </p>
        <hr>
        <h3 class='lead'> What platforms will be supported? </h3>
          <p class='text-muted'>
            Steppr is still in early development. Only <a ng-href='http://moves-app.com/'>Moves</a> is supported at this time.
            Steppr is <a ng-href='https://github.com/kevinchandler/Steppr'>completely open source</a> and support for other major activity trackers are a high priority.
          </p>
    </div>
  </div>
  <div class='col-md-5 col-xs-12 col-sm-12 buttons'>
      <table class='table' id='user_activity'>
        <h3 class='lead'>Activity today:</h3>
        <tr>
          <td> User </td>
          <td> Steps </td>
          <td> State </td>
        </tr>
        <tr ng-repeat="user in userActivityToday | orderBy:'steps.today':'reverse=false'">
          <td> {{user.username || 'Anonymous'}} </td>
          <td>{{user.steps.today}} </td>
          <td> {{user.info.location.state}} </td>
        </tr>
      </table>
      <span id='loginButton'>
        <a ng-href='/moves'><button type="button" class="btn btn-success btn-circle btn-xl">Let's go <i class="glyphicon glyphicon-chevron-right"></i></button></a>
      </span>
      <span id='desktopText'>
        <p class='alert alert-warning'>
          Come back on your phone to join the fun!
        </p>
      </span>
  </div>
</div>
