<div ng-controller='UserCtrl'>
  <table class='table'>
    <h3 class='lead'> {{user.username}}'s Stats</h3>
    <tr>
      <td>
        Total steps
      </td>
      <td>
        {{user.steps.total}}
      </td>
    </tr>
    <tr>
      <td>
        Today
      </td>
      <td>
        {{user.steps.today}}
      </td>
    </tr>
    <tr ng-if='group in userGroups'>
      <td>
        Groups
      </td>
      <td>
        <li ng-repeat='group in userGroups'>
          <a ng-href='#/groups/{{group}}'>{{group || 'none'}}
            </a>
        </li>
      </td>
    </tr>
    <tr>
      <td>
        Badges
      </td>
      <td>
        <li ng-repeat='badges in userBadges'>
          {{badges}}
        </li>
      </td>
    </tr>
    <tr ng-if='user.challenging.username'>
      <td>
        Challenging
      </td>
      <td>
        <a ng-href='#/users/{{user.challenging.username}}'>{{user.challenging.username}}</a>
      </td>
    </tr>
  </table>
<!-- <div ng-controller='ChallengeCtrl'>
  <a ng-click='challengeUser(user.username)'>Challenge {{user.username}}</a>
</div> -->
<footer>
  <div class="navbar navbar-inverse navbar-fixed-bottom">
    <div class="container">
      <ul class="nav navbar-nav">
          <li><a href="#/home">Home</a></li>
          <li><a href="#/groups">Groups</a></li>
          <li class='active'><a href="#/users">Users</a></li>
          <li><a href="#/settings">Settings</a></li>
      </ul>
    </div>
  </div>
</footer>
</div>
