
body {
  font: 16px "Lucida Grande", Helvetica, Arial, sans-serif;
  color: #fff;
  background: url('../images/steppr_landing_bg.png');
  background-size: cover;
  z-index: 0;
}

#rect {
    position: absolute;
    top: 13%;
    left: -1%;
    z-index: -1;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

a {
  color: #00B7FF;
}
